doctype html
html(class="no-js")
    head
        title(TWTfavor)
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        meta(name='robots', content='noindex, nofollow')
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='styles/main.css')

    body
    .container
        form.form-signin(role='form')
            h2.form-signin-heading Please sign in using twitter
            a(href='/auth/')
              img(src='images/sign-in-with-twitter.png', alt='Sign in using twitter', title='')
    
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/bootstrap/js/affix.js')
    script(src='../bower_components/bootstrap/js/alert.js')
    script(src='../bower_components/bootstrap/js/dropdown.js')
    script(src='../bower_components/bootstrap/js/tooltip.js')
    script(src='../bower_components/bootstrap/js/modal.js')
    script(src='../bower_components/bootstrap/js/transition.js')
    script(src='../bower_components/bootstrap/js/button.js')
    script(src='../bower_components/bootstrap/js/popover.js')
    script(src='../bower_components/bootstrap/js/carousel.js')
    script(src='../bower_components/bootstrap/js/scrollspy.js')
    script(src='../bower_components/bootstrap/js/collapse.js')
    script(src='../bower_components/bootstrap/js/tab.js')
    script(src='scripts/main.js')












